<div class="container">
    <div class="header">
        <h3 class="text-muted">Summoner Info</h3>
    </div>

    <div class="well">
        <form class="form-horizontal" name="summonerForm" ng-if="!haveSummoner" ng-submit="fetchSummoner()">
            <div class="form-group">
                <div class="col-sm-1"></div>
                <label for="summonerName" class="col-sm-3 control-label">Summoner Name</label>

                <div class="col-sm-6">
                    <div class="input-group">
                        <input type="text" class="form-control" id="summonerName" name="summonerName" ng-model="summonerName">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>
        <div class="row-fluid" ng-if="haveSummoner">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 text-right">
                    <b class="text-muted">Not the summoner you were looking for?&nbsp;&nbsp;</b>
                    <button type="button" class="btn btn-info searchAgain" ng-click="resetSearch()">Search Again
                    </button>
                </div>
            </div>

            <div class="well">
                <div class="row">

                    <div class="col-sm-8 center">
                        <table class="table">
					            <tr>
								    <th>Name</th>
								    <th>Level</th>
								     <th>League entries</th>
								      <th>Internal Name</th>
								      <th>Tier</th>
								       <th>Queue</th>
								  </tr>
				            	<tr>
				            		<td>{{summonerData.name}}</td>
				            		<td>{{summonerData.summonerLevel}}</td>
				            		<td>{{information.entries.length}}</td>
				            		<td>{{information.name}}</td>
				            		<td>{{information.tier}}</td>
				            		<td>{{information.queue}}</td>
				            	</tr>
				            </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="header">
        <h3 class="text-muted">Champion Info</h3>
    </div>
     <div class="well">
        <button ng-click="getChampion()" class="btn btn-success btn-lg btn-block">Get top 100 champions for North America</button>
        <div class="row-fluid">
         <!-- <div class="row">
            <div class="animate-repeat floatLeft col-sm-3" > -->

            <table class="table">
	            <tr>
				    <th>ID</th>
				    <th>Free to play</th>
				    <th>Active</th>
				    <th>Rank Play enabled</th>
				  </tr>
            	<tr ng-repeat="champ in champion">
            		<td>{{champ.id}}</td>
            		<td>{{champ.freeToPlay}}</td>
            		<td>{{champ.active}}</td>
            		<td>{{champ.rankedPlayEnabled}}</td>
            	</tr>
            </table>

                <h4></h4>
            <!-- </div>
        </div> -->
        </div>
    </div>

</div>

